<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <link rel="stylesheet" href="/fontawesome-free-6.1.1-web/css/all.min.css">
    <script src="/3.7.1.chartjs.min.js"></script>
    <title>Dashboard</title>
    <%- include('./partials/style.ejs'); %>
        <%- include('../a-global/style.ejs'); %>
</head>

<body>
    <%- include('../a-global/header'); %>
        <div class="main">
            <%- include('../a-global/sidebar'); %>

                <div class="right" style="color: white;">
                    <div class="nav">
                        <i class="fa-solid fa-house-user"></i>&nbsp; / &nbsp;<span>Dashboard</span>
                    </div>
                    <div class="greeting">
                        ✨✨✨✨✨
                    </div>
                    <div class="stats">
                        <div class="div1st cparked">
                            <i class="fa-solid fa-car"></i>
                            <h1 class="numparked">
                                <%= total.total %>
                            </h1>
                            <span class="titleparked title">
                                Total Vehicles Parked
                            </span>
                        </div>
                        <div class="div1st cin">
                            <i class="fa-solid fa-calendar-day"></i>
                            <h1 class="numin">
                                <%= parkedToday.length %> 
                            </h1>
                            <span class="titlein title">
                                Parking Done Today
                            </span>
                        </div>
                        <div class="div1st cout">
                            <i class="fa-solid fa-calendar-week"></i>
                            <h1 class="numout">
                                <%= parkedThisWeek.length %>
                            </h1>
                            <span class="titleout title">
                                Parking Done This Week
                            </span>
                        </div>
                        <div class="div1st done24">
                            <i class="fa-solid fa-calendar-check"></i>
                            <h1 class="numdone">
                                 <%= parkedThisMonth.length %> 
                            </h1>
                            <span class="titledone title">
                                Parking Done This Month
                            </span>
                        </div>
                    </div>
                    <!-- &&&&&&&&&& -->
                    <div class="highlights">
                        <div class="pierec">
                            <div class="graph" id="piechart">
                                <div class="title">
                                    Highlights - IN | OUT
                                </div>
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="graph" id="pie2">
                                <div class="title">
                                    Highlights - Parking done This Week | Last Week
                                </div>
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                    </div>

                    <br><br>
                <%- include('../a-global/footer.ejs'); %>
                </div>
        </div>
        <%- include('./partials/script'); %>
        <%- include('./partials/chart'); %>
            <%- include('../a-global/script'); %>
</body>
</html>