<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome-free-6.1.1-web/css/all.min.css">
    <script src="/3.7.1.chartjs.min.js"></script>
    <title>Dashboard</title>
    <%- include('./partials/style.ejs'); %>
        <%- include('../a-global/style.ejs'); %>
</head>

<body>
    <%- include('../a-global/header'); %>
        <div class="main">
            <%- include('../a-global/sidebar'); %>

                <div class="right" style="color: white;">
                    <div class="nav">
                        <i class="fa-solid fa-house-user"></i>&nbsp; / &nbsp;<span>Dashboard</span>
                    </div>
                    <div class="greeting">
                        Hello!, Administrator
                    </div>
                    <div class="stats">
                        <div class="div1st cparked">
                            <i class="fa-solid fa-car"></i>
                            <h1 class="numparked">
                                <%= total.total %>
                            </h1>
                            <span class="titleparked title">
                                Total Vehicles Parked
                            </span>
                        </div>
                        <div class="div1st cin">
                            <i class="fa-solid fa-circle-arrow-down"></i>
                            <h1 class="numin">
                                12
                            </h1>
                            <span class="titlein title">
                                Vehicles In
                            </span>
                        </div>
                        <div class="div1st cout">
                            <i class="fa-solid fa-circle-arrow-up"></i>
                            <h1 class="numout">
                                25
                            </h1>
                            <span class="titleout title">
                                Vehicles Out
                            </span>
                        </div>
                        <div class="div1st done24">
                            <i class="fa-solid fa-business-time"></i>
                            <h1 class="numdone">
                                20
                            </h1>
                            <span class="titledone title">
                                Parking Done Within 24hrs
                            </span>
                        </div>
                    </div>
                    <!-- &&&&&&&&&& -->
                    <div class="highlights">
                        <div class="pierec">
                            <div class="graph" id="piechart">
                                <canvas id="myChart"></canvas>
                            </div>
                            <div class="graph" id="pie2">
                                <canvas id="myChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <%- include('./partials/chart'); %>
            <%- include('../a-global/script'); %>
</body>

</html>